.jumbotron {
	background-color: #caeefc;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-color:gray;
	background-color:#878787;
}

.btn-lg{
	background-color: #ff8c6d;
	border-width: 0px;
}

.logo {
	margin-left: -8px;
	margin-top: -5px;
}

.desc {
	color:#878787;
}

.uppercase {
	color:#878787;
	text-transform:uppercase;
	font-size: 2em;
}

.sect {
	/*padding-bottom: 200px;*/
	text-align: left;
}

/*@media (max-width: 500px){
	.sect{
		padding: 30px;
	}
}*/

a.spots {
	color: #ff8c6d;
}

.aboutme{
	font-size:1.8em;
}
