
body { background-color:#DC4A38; background-color:#3B5999;}

div{margin-top:15%; margin-left: 10%; color:white; width: 85%;}

h1, h2, ul { font-family: 'Open Sans', sans-serif; font-weight: 700; font-size:2em; }

h2 { font-weight: 300; font-size: 1.8em;}

ul { font-weight: 200; font-size: 1.5em;}

span { color: #c3f2f6; color: white; }
