body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
   	font-size: 1em;
   	line-height: 1.7;
	color:black;
	background-color: #FAFAFA;
	text-align: center;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: #0a4ecc;
                /* 0a4ecc 0a1c5c e8430c dededb ffc766 */
           }
        .logo {
        	margin-top: 4em;

			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   			font-weight: 300;
			font-size: 2.8em;
			letter-spacing: .1em;
			text-transform: uppercase;
			display: block;
			margin-bottom: .5em;
		}